.my-div {
    position: absolute;
    left: 280px;
    height: 300px;
    top: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid #ccc;
  }

.Submit{
    /* width:30%; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin:auto;
    height:40px;
    border-radius:40px;
    border: 1px;
    font-size:1em;
    font-weight:550;
    cursor:pointer; */
}